#*
*#
**/.DS_Store
*.swp
*~
.DS_Store
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
output
pkg
releases/**/*.tgz
releases/*.tgz
src_alt
